:root {
    /* --Назва-змінної: Значення */
    --dark-grey-color: #EEEFF1;
    --main-light-grey-color: #F9F9F9;
    --dark-blue-color: #34547A;
    --dark-grey-color-text: #727272;
    --line-height-md: 26.25px;
    --line-height-sm: 13px;
    --white-color: #ffffff;
    --letter-spacing: 1px;
    --standart-padding: 100px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    padding-block: 79px 141px;
}

.light-grey-bg {
    background-color:  var( --dark-grey-color);
}

.dark-blue-bg {
    background-color:  var( --dark-blue-color);
}
.main-light-grey-bg {
    background-color:  var( --main-light-grey-color);
}

.container {
    max-width: 1110px;
    margin-inline: auto;
    padding-inline: 15px;
}

.navbar__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 42px;
    text-transform: uppercase;
}

.navbar__list-item {
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height-md);
}

.title {
    font-size: 3em;
    line-height: 78.75px;
    font-weight: 500;
}

.description {
    color: var(--dark-grey-color-text);
    max-width: 540px;
    line-height: var(--line-height-md);
}

.header__description {
    margin-bottom: 65px;
}

.header__button {
    border: 0;
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    padding: 20px 41px;
    line-height: var(--line-height-md);
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.text-align-center {
    text-align: center;
}

.header__title {
    margin-block: 162px 60px;
}

.about-me {
    padding-block: 112px 100px;
}

.about-me__title {
    margin-bottom: 50px;
}

.projects {
    padding-block: var(--standart-padding);
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.projects__list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url("../images/project.png");
    background-repeat: no-repeat;
    padding-left: 70px;
    color: var(--white-color);
    line-height: var(--line-height-md);
}

.subtitle {
    font-size: 21px;
    font-weight: 500;
    line-height: 24.61px;
}

.about-work {
    padding-block: var(--standart-padding);
}

.footer {
    padding-block: 50px;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: var(--white-color);
    line-height: var(--line-height-md);
}

.rights {
    font-size: 0.81em;
}

.navbar__list-item:hover {
    color: var(--dark-blue-color);
    cursor: pointer;
}

.header__button:hover {
    cursor: pointer;
    background-color: hsl(213 40% 44% / 1);
}

.about-work__video {
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    margin-top: 50px;
}

.about-work__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1088px) {
    .wrapper {
        padding-inline: 5%;
    }
    .navbar {
        padding-inline: 5%;
    }
    .footer__wrapper {
    padding-left: 5%;
    }
    .about-work {
        padding-bottom: 0;
    }
    .projects__list {
        justify-content: space-evenly;
        color: black;
        gap: 50px 20%;
    }
}

@media (max-width: 600px) {
    .navbar__list {
        justify-content: space-evenly;
    }
    .header  {
        padding-block: 30px;
    }
    .about-me {
        padding-block: 30px;
    }
    .about-work {
        padding-bottom: 0;
    }
    .header__title {
        margin-block: 15% 10%;
    }
    .projects {
        padding-block: 30px;
    } 
    .footer {
        padding-block: 30px;
    }
    .about-work {
        padding-block: 30px;
    }
    .header__button {
        width: 100%;
        line-height:var(--line-height-sm) ;
    }
}

@media (max-width: 375px) {
    body {
        font-size: 10px;
    }
    .subtitle {
     font-size: 13px;   
    }
}